.dashboard-control {
    margin-right: 5px !important;
    margin-bottom: 10px !important;
}

.dashboard-control-last {
    margin-bottom: 10px !important;
}



.dashlet-module {
    /*padding-left: 10px;
    padding-right: 10px;*/
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
}

.bs-dashlet-title {
    margin-top: 10px;
    padding-top: 10px;
}

.dashboard-row {
    margin-left: 10px;
    margin-right: 10px;
}

.dashlet-row {
    margin-top: 40px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.dashlet-row>div>div {
    margin-right: 5px;
}

.panel-title {
    font-weight: bold; 
}


#dashboard-list {
    margin: 0 auto;
}

#dashboard-list li {
    margin-left: 20px;
    color: white !important;
    font-weight: bold;
    width: 80%;
    
}

#dashboard-list i, .each-title{
    padding-bottom: 5px;
    padding-top: 5px;
}

#dashboard-list i {
    padding-left: 5px;
}

#dashboard-list li a {
    color: white;
}

#dash-title {
    text-align: center;
    width: 80%;
    padding: 10px;
    border-bottom: solid 1px white;
    margin-left: 20px;
}

#dashboard-list li :hover {
    background: #324c77;
    cursor: pointer;
    border-radius: 4px;
}

.dashlet-list {
    display: flex;
    overflow: auto;
    margin-left: 10px !important;
}

.dashlet-list div {
    width: 250px !important;
    display: inline-block;
    height: 200px;
    overflow: auto;
    margin-right: 5px;
}

.main-panel {
    z-index:  initial !important;
}

.introjs-tooltiptext {
    color: steelblue;
    font-size: 1.5em;
}
.introjs-tooltipbuttons a {
  background: #465d82;
    padding: 8px; 
  font-size: 12px;
  /* line-height: 22px;  */
  font-weight: bold;
  color: white;
  /* text-decoration: none; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.introjs-tooltipbuttons a:hover {
    background: lightgray;
    color: black;
}

.introjs-disabled:hover {
    cursor: not-allowed;
}

.introjs-helperLayer  {
    opacity: 0.5
}