

.dashlet-list {
    white-space: nowrap;
    width:100%;
    overflow: auto;
}

.dashlet-list div {
    width: 250px;
    display: inline-block;
    height: 150px;
    overflow: hidden;
    margin-right: 5px;
}

.fa-facebook-official {
    font-size: 2em;
}

.introjs-tooltiptext {
    color: steelblue;
    font-size: 1.5em;
}
.introjs-tooltipbuttons a {
    padding: 8px; 
  font-size: 12px;
  /* line-height: 22px;  */
  font-weight: bold;
  /* text-decoration: none; */
  border-radius: 4px;
}

.introjs-tooltipbuttons a:hover {
    background: lightgray;
    color: black;
}

.introjs-disabled:hover {
    cursor: not-allowed;
}

.introjs-helperLayer  {
    opacity: 0.5
}