

.dashlet-list {
    white-space: nowrap;
    width:100%;
    overflow: auto;
}

.dashlet-list div {
    width: 250px;
    display: inline-block;
    height: 150px;
    overflow: hidden;
    margin-right: 5px;
}

.fa-facebook-official {
    font-size: 2em;
}
